@(completed: Map[Long, Seq[QuizInstance]])
@main("Ukończone kartkówki - Kartkówki") {
    <h1>Ukończone kartkówki</h1>

    <table class="table table-bordered">
        <tbody>
        @for(quiz <- completed.keys) {
            <tr>
                <td>Kartkówka nr: @quiz</td>
                <td>
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <td>Numer albumu</td>
                                <td>Wynik</td>
                                <td>Zakończona</td>
                            </tr>
                        </thead>
                        <tbody>
                        @for(instance <- completed(quiz)) {
                            <tr>
                                <td>@instance.albumNumber</td>
                                <td>@instance.score</td>
                                <td>@instance.submitted</td>
                            </tr>
                        }
                        </tbody>
                    </table>
                </td>
            </tr>
        }
        </tbody>
    </table>
}