@main("Strona główna - Kartkówka") {
    <h1>Kartkówki</h1>
    <h3>Menu główne</h3>

    <a href="@routes.CRUDController.listTemplates()">Zarządzaj szablonami</a> <br>
    <a href="@routes.InstanceController.index()">Rozpocznij nową kartkówkę</a> <br>
    <a href="@routes.StatsController.index()">Wyświetl ukończone</a> <br>
}