@(template: String)
@main("Rozpocznij kartkówkę - Kartkówki") {
    <h1>Wybierz inne szczegóły!</h1>

    <div>Wybrany szablon: @template</div>
    <a href="@routes.InstanceController.index()">Wróc do wyboru szablonu</a>

    @helper.form(action = routes.InstanceController.submitDetails(template)) {
        Czas w sekundach: <input type="text" name="time"> <br/>
        Maksymalna liczba pytań: <input type="text" name="questions"> <br/>
        Maksymalna liczba odpowiedzi: <input type="text" name="answers"> <br/>

        Maska IP: <input type="text" name="mask" value="255.255.0.0/0"> <br/>
        <input type="submit" value="Przejdź dalej">
    }
}