@(templateName: String, minutes: Int, questions: Int, answers: Int, token: String)
@main("Rozpocznij kartkówkę - Kartkówki") {
    <h1>Kartkówka rozpoczęła się!</h1>

    <div>Wybrany szablon: @templateName</div>
    <div>Czas: @minutes sekund</div>
    <div>Maksymalna liczba dostępnych pytań: @questions</div>
    <div>Maksymalna liczba dostępnych odpowiedzi: @answers</div>
    <div>Token: @token</div>
}