@main("Logging") {
    <form method="POST" action="@routes.Solving.loginSubmit()" class="form-horizontal">
        <div class="jumbotron">
            <div class="form-group">
                <label for="user-id" class="col-sm-2 control-label">Id:</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="user-id" name="user-id" placeholder="251234">
                </div>
            </div>
            <div class="form-group">
                <label for="token" class="col-sm-2 control-label">Token:</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="token" name="token" placeholder="WDI-wt-930">
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <button type="submit" class="btn btn-default">Submit</button>
                </div>
            </div>
        </div>
    </form>
}