@(instance: QuizInstance, questions: Map[Question, Seq[Answer]])

@main("Kartkovka") {
    <script>
        $(document ).ready(function(){
            $('.toggleable' ).click(function(event){
                var input = $('#hidden-'+event.target.id);
                input.attr("checked", !input.attr("checked"));
            })
        })
    </script>
    <form method="POST" action="@routes.Solving.submit(instance.id.get.toString)">
        <input class="hidden" name="instance-id" value="@instance.id.get">
        @for((question, answers) <- questions) {
            <div class="jumbotron">
                <label for="exampleInputFile">@question.question</label>
                @for(answer <- answers) {
                    <div class="checkbox">
                        <label>
                        @if(answer.chosen && answer.chosen.get) {
                            <input type="checkbox" id="answer-@answer.id"  class="toggleable" name="answer-values[]" value="true" checked> @answer.answer
                            <input type="checkbox" id="hidden-answer-@answer.id" class="hidden" name="answer-values[]" value="false">
                        } else {
                            <input type="checkbox" id="answer-@answer.id"  class="toggleable" name="answer-values[]" value="true"> @answer.answer
                            <input type="checkbox" id="hidden-answer-@answer.id" class="hidden" name="answer-values[]" value="false" checked>
                        }
                        <input type="number" class="hidden" name="answer-ids[]" value="@answer.id">
                        </label>
                    </div>
                }
            </div>
        }
        <button type="submit" class="btn btn-default">Submit</button>
    </form>
}
