@(templates: Seq[QuizTemplate])

@main("Zarządzaj szablonami - Kartkówki") {
    <h1>Szablony</h1>

    @helper.form(action = routes.CRUDController.editOrRemoveTemplate()) {
        <div>
        @for(template <- templates) {
            <div>
                @template.name
            <button type="submit" class="btn btn-default" name="edit" value="@template.id">Edytuj</button>
            <button type="submit" class="btn btn-default" name="delete" value="@template.id">Usuń</button>
            </div>
        }
        </div>
        <a href="/create">Stwórz nowy szablon</a>
    }
}