@(templates: Seq[QuizTemplate])

@main("Rozpocznij kartkówkę - Kartkówki") {
    <h1>Wybierz szablon kartkówki!</h1>
    <h3>Wybierz szablon mający być użyty w instancji kartkówki</h3>

    @helper.form(action = routes.InstanceController.submit()) {
        <div>
        @for(template <- templates) {
            <div>
                @template.name
            <button type="submit" class="btn btn-default" name="select" value="@template.id">Wybierz</button>
            </div>
        }
        </div>
    }
}