@(quiz: Dummies.QuizForm)

@import play.api.libs.json.Json

@main("Edytuj szablon - Kartkówka") {
    <script type="text/javascript">
            var loaded = @Html(Json.stringify(Json.toJson(quiz.questions)));
            var name = @Html(Json.stringify(Json.toJson(quiz.name)));
            var questions_arr = [];
            var init_question = "(treść pytania)\n+ (odpowiedź prawidłowa)\n- (odpowiedź nieprawidłowa)";
            console.log(questions_arr);

            function addQuestion(text) {
                if (text != init_question) {
                    questions_arr.push(text);
                    console.log(questions_arr.length);

                    var question = document.createElement("li");

                    var question_content = document.createElement("div");
                    question_content.setAttribute("style", "white-space:pre-wrap;");
                    question_content.innerHTML = text;
                    question.appendChild(question_content);

                    var delete_button = document.createElement("button");
                    $(delete_button).addClass("btn btn-default");
                    delete_button.innerHTML = "Usuń pytanie";
                    delete_button.onclick = function () {
                        questions_arr.splice(questions_arr.indexOf(question_content.innerHTML), 1);
                        document.getElementById("questions").removeChild(question);
                        console.log(questions_arr.length);
                        document.getElementById("content").value = questions_arr.join();
                    };
                    question.appendChild(delete_button);

                    var edit_button = document.createElement("button");
                    $(edit_button).addClass("btn btn-default");
                    edit_button.innerHTML = "Edytuj pytanie";
                    edit_button.onclick = function() { // magic here
                        document.getElementById("add").onclick();
                        document.getElementById("question").value = text;
                        delete_button.onclick();
                    };
                    question.appendChild(edit_button);

                    document.getElementById("questions").appendChild(question);
                    document.getElementById("question").value = init_question;

                    document.getElementById("content").value = questions_arr.join();
                }
            }
            window.onload = function (e) {
                document.getElementById("question").value = init_question;
                loaded.map(function(question) {
                    addQuestion(question);
                });
                document.getElementById("name").value = name;
            }
        </script>
    <h1>Utwórz szablon kartkówki</h1>
    <h3>Stwórz pulę pytań, z której losowane będą kartkówki na zajęciach</h3>

    <form method="post" autocomplete="on">
        Nazwa: <br>
        <input type="text" name="name" id="name" value="Nazwa szablonu"> <br>
        Pytania: <br>
        <ul id="questions"></ul>
        Wpisz pytanie: <br> <textarea rows="10" cols="35" id="question"></textarea> <br>
        <input type="button" class="btn btn-default" id="add" value="Dodaj pytanie" onclick="addQuestion(document.getElementById('question').value)">
        <input type="submit" class="btn btn-default" value="Zakończ edycję">
        <input type="hidden" id="content" name="content">
    </form>
}