@(tests: Integer)

@main("Tests") {

    <div id="content" style="margin-left : 30 % ; margin-top : 20 px"></div>
    <script type="text/jsx">

    var data = [];

    var TestField = React.createClass({
        getInitialState: function() { return {data:[], count:4}; },
        incrementCount: function() { this.setState({count: this.state.count+1}); },
        decrementCount: function() { this.setState({count: Math.max(this.state.count-1,0)}); },

        render: function() {
            var nQuestions = this.state.count;
            var fields = [];
            for (var i = 0; i < nQuestions; i++) {
                fields.push(
                    <div>
                        <div>Pytanie nr {i+1}</div>
                        <QuestionField data={this.state.data[i]} index={i}/>
                    </div>
                )
            }
            return(
            <form id="testForm" method="post">
                <input id="testName" type="text" placeholder="Nazwa kartkówki"/>
                {fields}
                <button type="button" onClick={this.incrementCount}>Dodaj pytanie</button>
                <button type="button" onClick={this.decrementCount}>Usuń pytanie</button>
                <button type="submit">Dodaj kartkówkę</button>
            </form>
            )
        }
    });

    var QuestionField = React.createClass({
        getInitialState: function() { return {count:4}; },
        incrementCount: function() { this.setState({count: this.state.count+1}); },
        decrementCount: function() { this.setState({count: Math.max(0, this.state.count-1)}); },

        render: function() {
            var noOfFields = this.state.count;
            var fields = [];
            for (var i = 0; i < noOfFields; i++) {
                fields.push(
                    <div>
                        <textarea id={"answer[" +  this.props.index + "][" + i + "]"} rows="2" cols="40" placeholder="Tekst odpowiedzi"/>
                        <input id={"correct[" + this.props.index + "][" + i + "]"} type="checkbox">Odpowiedź prawidłowa</input>
                    </div>
                )
            }
            return(
            <div>
                <textarea id={"question[" + this.props.index + "]"} rows="5" cols="40" placeholder="Tekst pytania"/>
                {fields}
                <button type="button" onClick={this.incrementCount}>Dodaj odpowiedź</button>
                <button type="button" onClick={this.decrementCount}>Usuń odpowiedź</button>
            </div>
            )
        }
    });

    React.render(<TestField />, document.getElementById("content"))
    </script>
}
